<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vivid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".VideoChatActivity"
            android:exported="false" />
        <activity
            android:name=".CallingActivity"
            android:exported="true" />
        <activity
            android:name=".FriendActivity"
            android:exported="false" />
        <activity
            android:name=".FriendRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".FindPeopleActivity"
            android:exported="true" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="true" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".ContactsActivity"
            android:exported="true"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>